@import "../variables.scss";

.container {

  display: flex;
  flex-direction: row;
 height: 97vh;
 width: 100%;
  justify-content: center;
  align-items: center;
  // height: 150px;
button{
  height: 50px;
  padding: 10px;
  font-weight: 600;
}
  
}