@import "../variables.scss";

.container{
    width: 100%;
    // padding: 0;
    // margin: 0;
    // border: 1px solid yellow;
    .main{
    // border-radius: 4px;
    border: 1px solid #E4E4E7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 325px;
    height: 115px;
    border-radius: 5px;
    padding: 16px 28px 23px 28px;
    // flex-grow: 1;
    // flex-grow: 0;
    // justify-content: center;
    // flex-basis: 360px;
    // max-width: 400px;
    // width: 100%;
    // margin-left: 57px;
// background: 
// linear-gradient(0deg, $white, $white);
// box-shadow: 3px 5px 20px 0px $boxShadow--1;


.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // column-gap: 4px;
    height: 100%;

p{
    // font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #8F8E8E;
    // text-transform: uppercase;

    // width: 105px;
// height: 24px;
}
.sterling{
    // font-family: Inter;
font-size: 11px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;
color: #000000;

}

h4{
    // font-family: Inter;
font-size: 21px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;
color: #000000;

}

.store{
    display: none;

    // font-family: Inter;
font-size: 11px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.01em;
// text-align: left;
color: #000000;


}
}

.right{
    align-self: flex-end;
}


}
}
@media only screen and (max-width:768px){
.container{
// position: relative;
// width: 70%;
// border: 1px solid rgb(0, 255, 21);
padding: 0 30px;
    .main{
    // padding: 16px 28px 23px 28px;
    padding: 16px 36px 11px 20px;
        // border: 1px solid red;
        max-width:350px;
        // width: 100%;
height: 138px;

.left{
    .store{
        display: inline-block;
    }
    }
// .right{
//     img{
//     position: absolute;
//     // left: -5;
//     // top:  11;
//     bottom: 7;
// }
// }
    }

}
}
@media only screen and (max-width:400px){
    .container{
    padding: 0 30px;
        .main{
        padding: 10px;
    // padding: 16px 36px 11px 20px;

    height: 138px;
        }   
    }
    }