@import "../variables.scss";

.container{
    // border-radius: 4px;
    border: 1px solid #E4E4E7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 325px;
    height: 115px;
    border-radius: 5px;
    padding: 16px 28px 23px 28px;
    // margin-left: 57px;
// background: 
// linear-gradient(0deg, $white, $white);
// box-shadow: 3px 5px 20px 0px $boxShadow--1;


.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    // border-radius: 4px;
// padding: 0px 50px 30px 22px;

p{
    // font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #8F8E8E;
    text-transform: uppercase;

    

}
}

.right{
    // display: flex;
    // flex-direction: column;
    align-self: flex-end;
    // justify-content: center;
    // height: 100%;
    // border-radius: 4px;
// padding: 0px 50px 30px 22px;
}

// .main{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: center;
//     height: 100%;
//     border-radius: 4px;
// padding: 0px 50px 30px 22px;

//     p{
// font-size: 14px;
// font-weight: 500;
// line-height: 16px;
// letter-spacing: 0em;
// text-align: left;
// color: $color--1;

//     }

//     .amount{
// font-size: 24px;
// font-weight: 600;
// line-height: 28px;
// letter-spacing: 0em;
// text-align: left;
// color: $color--2;

//     }

// }

}

// @media only screen and (min-width:1358px){
// }