.container{
  border: 1px solid #E4E4E7;
  border-radius: 5px;
  margin-top: 40px;
  overflow-y: hidden;
height: 491px;

  .top{
    // border: 1px solid rgb(13, 0, 128);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
// gap: 10px;
padding: 20px 62px 0px 35px;

.left, .right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  input{
    // border: 1px solid red;
    width: 154px;
height: 42px;
padding: 10px, 16px, 10px, 16px;
border-radius: 8px;
border: 1px solid #DADAE7;
gap: 24px;

  }
}

.left  p{
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: #71717A;

  
}

.right  p{
  // font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  // text-align: left;
  color: #000000; 
}


.right .active{
  // border: 1px solid red;
  width: 116px;
height: 42px;
// padding: 11px, 20px, 11px, 20px;
border-radius: 5px;
// gap: 10px;
background: #ebf7fa;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
  }

  .charts{
    border: 1px solid #E4E4E7;
    // border: 1px solid red;
    background: #FFFFFF;
height: 369px;
border-radius: 6px;
margin:30px 30px 30px 30px ;
padding: 25px 28px;

    .text{
      // border: 1px solid rgb(222, 230, 209);
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      // gap: 8px;

      .upper, .lower{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
  overflow-y: hidden;

        h5{
          // font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
color: #424242;
        }

        p{
font-size: 14px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0em;
color: #000000;
        }
span{
  color: #6DC27F;
}

h2{
font-size: 28px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
color: #424242;
}

// .mobile{
//   // display: none;
//   // visibility: hidden;
//   // width: 0;
//   // height: 0;
//   // width: 100px;
//   // height: 34px;
// }
      }

      .lower p{
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        color: #000000       
      }

    }
    .chart{
      // border: 1px solid green;
      overflow-y: hidden;
      // overflow-x: hidden;
      // width: 50%;
    }
  }
 
}
@media only screen and (max-width:768px){
  .container{
    border: none;

    // width: 336px;
    width: 100%;
// height: 279px;
// top: 325px;
// left: 20px;
border-radius: 8px;
// border: 1px;
// border: 1px solid red;
// border-radius: 5px;
margin-top: 0px;

.top{
  display: none;
}
  }

  .charts{
    // border: 1px solid red;
.text{
  .upper{
    position: relative;
    // border: 1px solid red;
    p{
      display: none;
    }

    h5{
font-size: 17px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
color: #292D32;


    }
    .mobile{
      // display: inline-block;
      // visibility: visible;
      width: 100px;
      // height: 25px;
      // height: 34px;
      position: absolute;
      right: 0;
    }
  }
  .lower{
    h2, p{
    display: none;
  }
  }
}
  }
}


@media only screen and (min-width:769px){
  .charts{
.text{
  .upper{
    .mobile{
      display: none;
    }
  }
}
  }
}


////// for select dropdown ///////
.selet{
  // border: 1px solid red;
  width: 154px;
height: 42px;
padding: 10px, 16px, 10px, 16px;
// border-radius: 8px;

// border: 1px solid #DADAE7;
gap: 24px;

@media only screen and (max-width:768px){
  // border: 1px solid red;
border: 1px solid #C4C8D3;


  width: 100px;
// height: 25px;
height: 34px;
border-radius: 30px;
// top: 16px;
// left: 236px;
// border: 1px;


}

}


