@import "../variables.scss";
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    box-shadow: 3px 5px 20px 0px $boxShadow--1;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: $white;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
     padding-right: 2rem;
}

.menu li{
    padding: 1rem;
}

.menu .docs{
// font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: $color--2;

}

.menu .info{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 6px;
    align-items: center;
}

.menu .user img{
    border-radius: 50%;
}

.menu .name{
// font-family: Work Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
color: $color--2;
}

.navbar a{
    font-size: .8rem;
}

.mobile_btn{
    display: none;
}

.log{
    width: 100px;
    height: 28px;
    top: 35px;
    left: 30px;
    padding: 0px, 0px, 0px, 0px;
}

.search {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
border-radius: 8px;
max-width: 400px;
height: 40px;
border: 1px solid $border--1;
}

.search input{
    min-width: 300px;
height: 38px;
border-bottom-left-radius: 8px;
border-top-left-radius: 8px;
border: none;
// font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
padding-left: 16px;
}

.icon{
    min-width: 56px;
height: 40px;
background: $backgroundColor;
border: 1px solid $backgroundColor;
border-bottom-right-radius: 8px;
border-top-right-radius: 8px;
display: flex;
justify-content: center;
color: $white;
align-items: center;
}

@media only screen and (max-width: 768px){

    .menu{
        position: fixed;
        bottom: 0;
        right: 0;
        right: -100%;
        width: 40%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $backgroundColor--2;
        z-index: 10;
        transition: right 1s ease;
    }

    .active{
        right: 0
    }
    .mobile_btn{
        display: block;
        position: absolute;
        right: 3rem;
        cursor: pointer;
        z-index: 10;
    }

    .navbar a {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 575px){

    .search input{
    //  border: 1px solid green;    
            min-width: 20px;
        height: 28px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;        
        // font-family: Work Sans;
        font-size: 14px;
        font-weight: 300;
        line-height: 12px;
        letter-spacing: 0em;
        padding-left: 5px;
        }

.search{
    min-width: 20px;
    // border: 1px solid red;
    max-width: 10%;
    margin-right: 40px;
    .input .web{
    display: none;

    }
    .input .mobile{
        max-width: 10%;
    margin-right: -153px;
    border-radius: 40%;
        }
    .icon{
        display: none;
    }
}

}
@media only screen and (min-width: 576px){
    .search{
        max-width: 10%;    
        .input .web{
border: 1px solid $backgroundColor--4;
        max-width: 10%;
    
        }
        .input .mobile{
            display: none;   
        }
    }
    
    }

    @media only screen and (min-width: 576px) and (max-width: 960px) {
        .search input{
                min-width: 20px;
            height: 28px;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border: none;
            font-family: Work Sans;
            font-size: 14px;
            font-weight: 300;
            line-height: 12px;
            letter-spacing: 0em;
            padding-left: 5px;
            }
      }