@import '../variables.scss';

.main{
    width: 100%;
    height: 1574px;
    background-color: $white;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    box-shadow: 3px 5px 20px 0px $boxShadow--1;

    .brief{
      border: 1px solid red;
      visibility: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-left: 14px;
        padding-right: 25px;
    }

.menu {
    p{
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0px;
      text-align: left;
      color: $color--1;
      padding-left: 14px;
      margin-top: 30px;
    }

    .menuItem{
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      padding-left: 14px;
      min-height: 40px;
      align-items: center;
    }

    .menuTitle{
      font-size: 15px;
      // line-height: 18.77px;
      font-weight: 400;  


      //styleName: Text MD/Regular;
// font-family: Inter;
font-size: 15px;
line-height: 23px;
// letter-spacing: -0.02em;
// text-align: left;

    }
    .items{
      .item{
        text-decoration: none;
        }
      }

}

}
