.container{
    // border: 1px solid red;
    width: 326px;
height: 198px;
margin: 00px auto 10px auto;
// top: 234px;
// left: 24px;
gap: 9px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

h1{
    //styleName: Text LG/Bold;
// font-family: Inter;
align-self: start;
font-size: 17px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
// text-align: left;
color: #111827;

}

.main{
    width: 326px;
height: 159px;
border-radius: 4px;
border: 2px solid #BEBEBE33

}
}