@import "../variables.scss";

.container{
    // border: 1px solid red;
    padding: 20px 20px;
    // box-shadow: 3px 5px 20px 0px $boxShadow--1;
    margin-top: 40px;
    // margin: 0 20px;

    @media only screen and (max-width:1035px){
        overflow-x: scroll;
        
        .tab{
            overflow-x: scroll;

            // .date{
            //     display: none;
            // }
        }
    }


}

.header{
    width: 326px;
    // margin: 0px auto 0px auto;
margin: 40px auto 10px auto;
h1{
    //styleName: Text LG/Bold;
// font-family: Inter;
align-self: start;
font-size: 17px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
// text-align: left;
color: #111827;
// color: red;

}
}
@media only screen and (max-width:768px){
    .wrapper{
        // border: 1px solid red;
        display: none;
    }
        }

@media only screen and (max-width:400px){
    .header{
        width: 300px;
    }
}

    @media only screen and (min-width:769px){
     .header{
                // border: 1px solid red;
        display: none;
        }
                }
//   =====Table Column Titles STARTS=====
.columnTitle {
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0.018em;
// text-align: right;
color: #84919A;
// color: red;
text-transform: uppercase;
  }

  .naira,.status,.amount{
    text-transform: capitalize;
// // color: $color--1;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
// text-align: left;
color: #535379;
}

.naira{
    color: #000505;


}
// =====Table Column Titles ENDS=====