@import "../variables.scss";

.main{
    background-color: $backgroundColor--3;
    // border: 1px solid green;

    .tab{
    // background-color:$white;
    border-radius: 4px;
    // border: 1px solid green;

    }

    .content{
    // border: 1px solid yellow;
        
    // margin-top: 49.55px;
        // margin-left: 57px;


        // margin: 49px 74px 158px 56px;
        margin: 25px 74px 158px 10px;


        
        // background-color:$white;
    // border-radius: 4px;
    // box-shadow: 3px 5px 20px 0px $boxShadow--1;
    }
}
