@import "../variables.scss";

.main{
    height: 100%;
    width: 100%;
    // border: 1px solid red;
    // background-color: $backgroundColor--3;
    // background: yellow;
}
.layout{
    display: flex;
    width: 100%;

.sidebar{
    // border: 1px solid red;
    background-color: #ffffff;

    .webDash{
        margin-top: 46px;
    }
}
}

.content{
    width: 100%;
    // border: 1px solid;

}
.body{
    // background-color: $white;
    background-color: #fbfbfb;
    // background-color: lightblue;
}
@media only screen and (max-width: 1220px){
    .main{
        background-color: $white;
    }
}
@media only screen and (max-width: 820px){
    // .main{
    //     background-color: $white;
    // }
    .sidebar{
        display: none;
    }
}

.mainDashContent {
    @media only screen and (min-width: 1358px) {
      padding: 66px 0 66px 31px;
    }
  }

  .mainDashContent {
    @media only screen and (max-width: 768px) {
      padding: 0;
    //   border: 1px solid red;
    }
  }



@media only screen and (max-width: 768px) {
  .body{
    background-color: $white;
}
  }