@import "../variables.scss";

.main{
    height: 100%;
    width: 100%;
    background-color: $backgroundColor--3;
}
.layout{
    display: flex;
    width: 100%;

.sidebar{
    // border: 1px solid red;
    background-color: #ffffff;

    // width: 263px;
    // height: 945px;
    


    .webDash{
        margin-top: 46px;
    }
}
}

.content{
    width: 100%;
    // border: 1px solid red;
    // padding: 66px 28px;
//     h1{
//         font-family: Work Sans;
// font-size: 24px;
// font-weight: 500;
// letter-spacing: 0px;
// text-align: left;
// color: $color--2;
// margin-bottom: 20px;
// margin-top: -10px;
//     }
    // .header{
    //     display: grid;
    //     grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
    //     column-gap: 26px;
    //     row-gap: 18px;
    // }
}
.body{
    background-color: $white;
}
@media only screen and (max-width: 1220px){
    .main{
        background-color: $white;
    }
}
@media only screen and (max-width: 820px){
    // .main{
    //     background-color: $white;
    // }
    .sidebar{
        display: none;
    }
}
@media only screen and (min-width:1358px){

    .content{
        // padding: 66px 31px;
        padding: 66px 0 66px 31px
    }

}