// color definitions
$color--1: #545F7D;
$color--2: #213F7D;
$color--3: #949bae;
$color--4: #000000CC;
$color--5: lightblue;
$boxShadow--1: #0000000A;
$boxShadow--2: #0000000A;
$white: #FFFFFF;
$border--1: #d8dee9;
$border--2: #E6E7EB;
$border--3: #545F7D26;
$backgroundColor: #39CDCC;
$backgroundColor--2: #f8f8f8;
$backgroundColor--3: #fbfbfb;
$backgroundColor--4: #dcdfe9;